$font-family:'Golos';
$color:#6E7191;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
}

.header--container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 18.32px;
    .header-katalog {
        width: 180px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: #F56E1E;
        border: none;
        transition: all 0.3s;
        &:hover {
            background: #d93d08;
        }
        span {
            color: #FCFCFC;
            font-family: $font-family;
            font-family: 'Golos';
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }
    }
    .header--search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 708px;
        height: 54px;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid #A0A3BC;
        background: #FFF;
        input {
            border: none;
            &::placeholder {
                color: #A0A3BC;
                font-family: Golos;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
    .header--item {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1px;
            transition: all 0.3s;
            &:hover {
                img {
                    transform: rotate(360deg);
                    transition: all 0.7s;
                }
                span {
                    color: #d93d08;
                    transform: scale(1.2, 1.2);
                    transition: all 0.3s;
                }
            }
            span {
                color: $color;
                font-family: Golos;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
}

.hero--container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    p {
        color: #A0A3BD;
        font-family: Golos;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 174px;
        padding: 8px 8px 9px 12px;
        border-radius: 40px;
        background: #F1F1F1;
        margin-right: 98px;
    }
    .hero--menu {
        display: flex;
        .language {
            padding: 4px 8px;
            display: flex;
            gap: 4px;
            align-items: center;
            margin-right: 95px;
            .flag {
                border: 1px solid $color;
                border-radius: 50%
            }
            span {
                color: $color;
                font-family: Golos;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }
        }
        a {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-right: 35px;
            color: $color;
            font-family: Golos;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }
    }
    .message1 {
        margin: 0 24px 0 57px;
        transition: all 0.9s;
        i {
            display: none;
        }
        &:hover {
            transition: all 0.9s;
            .no-active {
                display: none;
                transition: all 0.9s;
            }
            i {
                display: block;
                transition: all 0.9s;
            }
        }
    }
    .message2 {
        margin-right: 32px;
        transition: all 0.9s;
        i {
            display: none;
        }
        &:hover {
            .no-active {
                display: none;
            }
            i {
                display: block;
            }
        }
    }
    .tel {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 24px;
        span {
            color: #F56E1E;
            font-family: Golos;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
        }
    }
    .book {
        border-radius: 8px;
        background: #F56E1E;
        display: flex;
        width: 154px;
        height: 30px;
        padding: 0px 12px;
        align-items: center;
        gap: 8px;
        &:hover {
            background: #d93d08;
        }
        span {
            color: #FFF;
            font-family: Golos;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}